{% extends "base.html" %}

{% block titlecard %}

    <div class="card bg-light mb-3" style="width: 39rem;">
      <div class="card-body">
        <p class="card-text">License plate collecting on the streets of Brooklyn (and occasionally Manhattan) since September 2018.</p>
      </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row">
    {% for cell in elems %}
      <div class="col-md-4 plate-cell">
        <a href="/{{ cell.href }}" class="plate-link">
          <h2>{{ cell.title }}</h2>
          <p><img class="plate-thumb" src="/photos/{{ cell.thumbnail }}"></p>
        </a>
      </div>
    {% endfor %}
    </div>

{% endblock %}
